<!-- views/profiles.ejs -->

<main id="developer-profile">
  <h1>Developer Profile</h1>
  <% if (profile) { %>
  <div>
    <img src="<%= profile.imagePath %>" alt="<%= profile.name %>" />
    <h2><%= profile.name %></h2>
    <!-- <p>ID: <%= profile.id %></p> -->
    <p>Interests: <%= profile.interests.join(', ') %></p>
  </div>
  <% } else { %>
  <p>No profile found.</p>
  <% } %>
  <button><a href="/profiles">Back to Profiles</a></button>
</main>
